.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__descriçao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}


.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descriçao__titulo {
    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
}

.descriçao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descriçao__texto {
    font-size: 14px;
}

.botoes__item {
    margin: 0 0.5em;
    transform: scale(0.8);
}

.botao__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    transform: scale(0.95);
}

.descriçao__estrela {
    padding-bottom: 1em;
}

.descriçao__imagem {
    transform: scale(0.95);
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0
    }

    .swiper {
        width: 50%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 1em 0
    }

    .swiper-slide {
        margin: 0 1em;
    }

    .descriçao {
        margin-right: 2em;
    }

    .descriçao__titulo {
        font-size: 32px;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }
}